body {
    margin: 0;
}
    
@media all and (min-width:1000px) {

    .first {
        display: none;
    }

    .first:target {
        display: block;
    }

    .content {
        display: flex;
        height: 100vh;

    }
.content .black .li2{
    display: none;
}
    .black {

        width: 280px;
        background-color: black;
        padding-right: 20px;
        flex-grow: 0;

    }

    .white {
        flex-grow: 2;
        overflow: hidden;
        overflow: auto;
    }

    ul li a {
        text-decoration: none;
    }

    ul li {
        list-style: none;
        margin-top: 35px;
        font-size: 20px;
    }

    ul li {

        margin-top: 50px;
        margin-left: 51px;
        text-decoration: none;
        padding-left: 10px;
    }

    ul li > a {
        color: white;
        margin-left: 30px;
    }

    ul li:nth-child(3) {
        background: url("../icon/mail.png") no-repeat center left 4px;
        padding-left: 44px;
    }

    ul li:nth-child(2) {
        background: url("../icon/question.png") no-repeat center left 13px;
        padding-left: 44px;
    }

    ul li:nth-child(1) {
        background: url("../icon/globe.png") no-repeat center left 3px;
        padding-left: 44px;
    }

    ul li:nth-child(4) {
        background: url("../icon/facebook.png") no-repeat center left 10px;
        padding-left: 44px;
    }

    ul .li1 {
        padding: 20px;
    }

    ul {
        padding-left: 5px;
    }

    .first {

        padding-left: 5px;
    }

    .first {
        text-indent: 0.8cm;
        padding-left: 1cm;
        font-family: "Berlin Sans FB Demi,serif";
        text-align: justify;
        margin-right: 20px;

    }

    .first h1 {
        font-family: "Times New Roman";
        margin-bottom: 34px;
    }

    .first > div {
        margin-bottom: 7px;

    }
}

@media all and (min-width: 600px) and (max-width: 999px){

    .content .black .li1{
        display: none;
    }
    .li2{
        list-style: none;
        text-decoration: none;
    }
    .content {
        display: flex;
        height: 100vh;

    }
    .black {

        width: 100px;
        background-color: black;
        padding-right: 20px;
        flex-grow: 0;

    }
    .white {
        flex-grow: 2;
        overflow: hidden;
        overflow: auto;
    }
    .li2{
        margin-top: 45px;
    }
     .black li:nth-child(1){
        margin-left: -8px;
    }
    .black li:nth-child(2){
        margin-left: 3px;
    }
    .black li:nth-child(3){
        margin-left: -7px;
    }
    .first {
        display: none;
    }

    .first:target {
        display: block;
    }
    .first {

        padding-left: 5px;
    }

    .first {
        text-indent: 0.8cm;
        padding-left: 1cm;
        font-family: "Berlin Sans FB Demi,serif";
        text-align: justify;
        margin-right: 20px;

    }

    .first h1 {
        font-family: "Times New Roman";
        margin-bottom: 34px;
    }

    .first > div {
        margin-bottom: 7px;

    }
}

@media all and (min-width: 200px) and (max-width: 599px){

    .first{
        display: none;
    }
    .first:target{
        display: block;
    }

    .content .black .li1{
        display: none;
    }

    .content {
        display: flex;
        height: 100vh;
        flex-direction: column;

    }
    .black{
        background: #000;
        height: 70px;
        display: flex;
     justify-content: center;
        align-items: center;
    }
    .white{
        flex-grow: 1;
    }
    .li2{
        list-style: none;
        text-decoration: none;
        display: inline;


    }
    ul{
        margin-left: -35px;
    }


    .black li:nth-child(1) {
        float: left;
        margin-top: 7px;

    }

    .black li:nth-child(2){
        margin-top:18px ;
        margin-left: 20px;

        float: left;

    }.black li:nth-child(3){
         margin-left: 20px;
             float: left;
    margin-top: 9px;
     }
    .black li:nth-child(4){
        margin-left: 33px;
        float: left;
        margin-top: 15px;
    }
    .first {

        padding-left: 2px;
    }

    .first {
        text-indent: 0.8cm;
        padding-left: 0.4cm;
        font-family: "Berlin Sans FB Demi,serif";
        text-align: justify;
        margin-right: 20px;

    }

    .first h1 {
        font-family: "Times New Roman";
        margin-bottom: 34px;
    }

    .first > div {
        margin-bottom: 4px;

    }

}
